<section>
  @for (order of orderDetails; track $index) {
  <div
    class="border border-l-4 rounded-md p-3 text-sm w-fit"
    [ngClass]="{
      'border-l-lime-700': order.status === 'delivered',
      'border-l-orange-600': order.status === 'pending',
      'border-l-red-700': order.status === 'overdue'
    }"
  >
    <h2 class="text-2xl font-semibold">{{ order.material | titlecase }}</h2>

    <div class="mt-4 flex gap-3">
      <div>
        @switch (order.status) { @case ('delivered') {
        <span class="bg-lime-700 p-1 rounded-md">{{
          order.status | uppercase
        }}</span>
        } @case ('pending') {
        <span class="bg-orange-600 p-1 rounded-md">{{
          order.status | uppercase
        }}</span>
        } @case ('overdue') {
        <span class="bg-red-700 p-1 rounded-md">{{
          order.status | uppercase
        }}</span>
        } }
      </div>

      <span> Order date: {{ order.orderDate }}</span>
    </div>

    <p class="mt-4">Invoice Nr. {{ order.invoiceNumber }}</p>
    <p>Receipt Nr. {{ order.receiptNumber }}</p>

    <div class="mt-6 flex gap-3">
      <span>Quantity: {{ order.quantity }}KG</span>
      <span>Value: {{ order.price | currency : "EUR" }}</span>
    </div>
    <p>
      Payment status:<span
        [ngClass]="{
          'text-lime-700': order.paymentStatus === 'closed',
          'text-red-600': order.paymentStatus === 'open'
        }"
      >
        {{ order.paymentStatus | uppercase }}</span
      >
    </p>
  </div>

  }
</section>
